<header class = "title-bar">
  <nav>
    <span class = "site-title"> 
      <a href = "{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </span>
    <ul>
     {{ range $menuitem := .Site.Params.Menu }}
			 <li>
         <a href="{{ index $menuitem "url" }}">
           {{ index $menuitem "name" }}
         </a>
			 </li>
		 {{ end }}
     {{ if .Site.Params.Contact }}
        <li>
          <a href="mailto:{{ .Site.Params.Contact }}">Contact</a>
        </li>
     {{ end }}
    </ul>
  </nav>
</header>
